.card {
  border: solid 1px red;
  border-radius: 4px;
  padding: 8px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 1.25rem;
}

.card__description {
  margin-top: 0;
  margin-bottom: 4px;
}
